
.App {
  text-align: center;
}

.list-container {
  height: 100vh;
  box-sizing: border-box;
  padding: 50px;

  overflow-y: scroll;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.list-item {
  padding: 8px;
  height: 400px;
  width: 300px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name{
  font-size: 20px;
  font-weight: 500;
}
.price{

  color: var(--secondary-text-color);
}

.category{

  color: var(--secondary-text-color);
}